/* 
    File: estilos.css
    Autor: Alfredo
    Fecha: 21/11/2022 
*/


/* h1 {     
    color: green;       
    text-align: center;
    font-size:200%;
    border: 4px blue dotted;
}  */


/* pendiente de confirmar por cliente */

/* p {    
    color: blue; 
} */