/* Ahora distintas formas de disponerlas */

/* en vertical limito el ancho del contenedor*/
nav.vertical  {
    width: 25%;
}

/* en horizontal con grid */
nav.grid ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* se puede usar %, o no usar repeat  
    25% 25% 25% 25% o 1fr 1fr 1 fr 1fr */
}

/*  en horizontal con flex */
nav.flex ul {
    display: flex;
}
nav.flex ul li {
    flex: 1;
}

/*  EVITAR: en horizontal con float */
nav.float ul li {
    float: left;
    width: 25%;
    box-sizing: border-box; 
    /* hace que width incluya padding y border */
}
nav.float ul { 
    /* si no se usa desaparece color de fondo de ul (ver tena de posicionamiento */
    overflow: auto;
}